body, form, div, ul, nav, h1, h2, h3, header, li, a {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

nav ul {
	background: #111;
	padding: 20px;
}

nav li a {
	text-decoration: none;
	color: #fff;
}

nav li {
	list-style: none;
	padding: 10px 5px;
	font-size: 18px;
}

.icono-del-menu {
	color: #fff;
	background: #111;
	text-align: right;
	padding: 10px 20px;
	font-size: 24px;
	position: fixed;
	z-index: 100;
	width: 100vw;
}

.button-link {
	background: #fff;
	color: #000;
	font-size: 16px;
	padding: 6px 12px;
}

.different-li {
	margin-top: 10px;
}

#menu {
	transition: margin-top 1s;
	position: fixed;
	z-index: 10;
	width: 100vw;
	margin-top: -80%;
	box-shadow: 0px 0px 10px #000;
}

header {
	height: 100vh;
}

.dalto-banner {
	display: flex;
	height: 100vh;
	text-align: center;
	flex-direction: column;
	background: url(img/bg.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
	padding-top: 44px;
}

.dalto-banner__info {
	flex-grow: 1;
	display: flex;
}

.dalto-banner__info-container {
	margin: auto;
}

.dalto-banner h1 {
	padding: 10px;
}

.dalto-banner h2 {
	font-size: 14px;
	font-weight: 400;
}

.dalto-banner img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	filter: drop-shadow(1px 1px 10px #000);
}

.dalto-banner .flecha {
	margin: auto;
	padding: 40px;
	font-size: 60px;
}

.flecha a {
	color: #fff;
	font-size: 60px;
	transition: color 0.12s;
}

.flecha a:hover {
	color: #aaa;
}

.flecha a:active {
	color: #aaa;
}

#Curso {
	text-align: center;
	padding: 40px 0;
}

.cursos-texto h2 {
	padding: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.cursos-container a {
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 0px 8px #0009;
	display: block;
	background-size: cover;
	width: 256px;
	height: 144px;
	margin: 20px auto;
}

.curso-data {
	height: 100%;
	width: 100%;
	background: #000b;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: opacity 0.12s;
}

.curso-html {
	background: url(img/html.jpg);
}

.curso-css {
	background: url(img/css.jpg);
}

.curso-js {
	background: url(img/js.jpg);
}

.curso-data a {
	text-decoration: none;
	color: #fff;
}

.curso-data h2 {
	font-size: 20px;
}

.curso-data p {
	font-size: 12px;
	margin-top: 2px;
}

.curso-data:hover {
	opacity: 0;
}

.cursos-container .button-otros {
	background: #000;
	height: auto;
	width: 200px;
	padding: 12px 16px;
	letter-spacing: 2px;
	margin-top: 40px;
	font-size: 14px;
	box-shadow: none;
}

#Contacto {
	background: #000;
	color: #fff;
	text-align: center;
	padding-bottom: 60px;
}

#Contacto h2 {
	padding: 20px;
	padding-top: 60px;
}

#Contacto input, #Contacto textarea {
	display: block;
	margin: auto;
	padding: 6px;
	margin: 12px auto;
	width: 90%;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	border-left: 3px solid #fff;
	color: #fff;
}

#Contacto textarea {
	height: 300px;
}

#Contacto .form-container {
	display: flex;
	flex-direction: column;
}

.form-img i {
	font-size: 200px;
	margin-top: -20px;
}

.form-img {
	display: none;
}

#Contacto .enviar-mensaje {
	background: #fff;
	color: #000;
	margin-top: 24px;
	padding: 12px;
}

#footer {
	background: #fff;
}

#footer .redes-sociales {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.red-social {
	width: 130px;
	margin: auto;
	text-align: center;
	font-size: 50px;
	margin: 20px;
}

.red-social a {
	color: #fff;
}

.red-social a .fa-facebook {
	color: #04a;
}

.red-social a .fa-twitter {
	color: #59f;
}

.red-social a .fa-tiktok {
	color: #222;
}

.newsletter {
	background: #111;
	color: #fff;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
}

.newsletter h2 {
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}

.newsletter input {
	border: 1px solid #fff;
	color: #fff;
	padding: 6px;
	display: block;
	width: 80%;
	margin: 12px auto;
	background: transparent;
}

.newsletter .sub-to-newsletter {
	background: #fff;
	color: #000;
	width: auto;
	text-align: center;
}

.derechos {
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	color: #555;
}

/*----------- RESPONSIVE TO WEB -----------*/

@media screen and (min-width: 1280px) {
	.icono-del-menu {
		display: none;
	}

	#menu {
		position: absolute;
		margin-top: 0;
		padding: 10px;
		transition: margin-top 0s;
		box-shadow: none;
		background: linear-gradient(to bottom, #000f, transparent);
		text-align: center;
	}

	#menu li {
		display: inline-block;
		margin: 20px;
	}

	.dalto-banner h1 {
		font-size: 48px;
	}

	.dalto-banner h2 {
	font-size: 18px;
	font-weight: 400;
	}

	.dalto-banner img {
		width: 260px;
		height: 260px;
		border-radius: 50%;
		filter: drop-shadow(1px 1px 15px #000);
		margin-top: 20px;
	}
	
	.dalto-banner .flecha {
		margin: auto;
		padding: 40px;
		font-size: 80px;
	}

	.cursos-container a {
		display: inline-block;
		width: 320px;
		height: 180px;
		margin: 30px;
	}

	.cursos-container {
		padding: 50px 0;
	}

	#Contacto .form-container {
		flex-direction: row;
		align-items: center;
		margin: auto;
	}

	#Contacto input, #Contacto textarea {
		width: 100%;
		font-size: 20px;
		padding: 12px;
	}

	#Contacto .form-inputs {
		flex-grow: 1;
		padding: 20px;
	}

	#Contacto .form-img {
		display: flex;
		padding: 20px;
		height: 100%;
		margin-left: 60px;
	}

	#Contacto h2 {
		font-size: 40px;
	}

	.form-img i {
		font-size: 300px;
		margin: auto;
	}

	#Contacto {
		padding: 60px;
		padding-top: 0;
	}

	.form-container {
		max-width: 1300px;
	}

	#footer input {
		padding: 12px;
		font-size: 20px;
		display: inline-block;
		width: 700px;
		border-left: 4px solid #fff;
	}

	#footer {
		min-width: 700px;
	}

	#footer .sub-to-newsletter {
		width: auto;
		margin-left: 10px;
	}
}